# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
app/routers/__pycache__/
app/core/__pycache__/

# Database
*.db

# Environment
.env
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# dua file ini dah dimasukkin ke gitignore tapi tetep ke track di git
app/routers/__pycache__/auth.cpython-314.pyc
app/core/__pycache__/security.cpython-314.pyc
ppd_database.db